body {
    margin: 0px;
}



.heading {
    display: flex;
    background-color:lightblue;
    height: 60px;
    align-items: center;
}
.heading h1 {
    color:darkcyan;
    margin-left: 40%;
    font-size: 50px;
}
.options {
    margin-left: 35%;
    display: flex;
    font-size: 30px;
}
.options i {
    padding-right: 10px;
    color: black;
}
.box {
    /* background-color: darkcyan; */
    /* border-radius: 10px; */
    margin-top: 5%;
    margin-left: 35%;
    width: 380px;
    display: flex;
    flex-direction: column;
}
.box div {
    margin: 5px;
}
#result {
    width: 197px;
    height: 70px;
    border-radius: 40px;
    padding-left: 30px;
    font-size: 16px;
}
#clear-button {
    background-color:steelblue;
    color: white
}
.box div input {
    margin-left: 5px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: transparent;
    font-size: 18px;
    background-color:lightblue;
}
.options i:hover {
    cursor: pointer;
    transform: scale(1.1);
}







/* hover */
.box div input:hover {
    cursor: pointer;
}
.buttons input:hover {
    cursor: pointer;
    background-color:rgb(133, 173, 187);
}